# This .env file specifies environment variables used for local development
# In production, set these variables directly on a Railway service

# Backend
BACKEND_HOSTNAME=0.0.0.0
BACKEND_PORT=8000
DATABASE_URL=postgresql://software_project_template:software_project_template@database:5432/software_project_template

# Frontend
FRONTEND_HOSTNAME=0.0.0.0
FRONTEND_PORT=3000
BACKEND_URL=http://backend:8000

# API keys
BLS_API_KEY=api_key_goes_here
